/*цвет текста лого #000000*/
/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*белый цвет #FFFFFF*/
/*акцент #2196F3*/
/*цвет фона героя #2F303A*/
/*вторичный цвет фона #F5F4FA*/
/*фон футера #2F303A*/

:root {
  --logo-color: #000000;
  --primary-text-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-opacity: rgba(33, 150, 243, 0.9);
  --header-border-color: #ececec;
  --background-footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --background-hero-color: #c4c4c4;
  --background-hero-gradient: rgba(47, 48, 58, 0.4);
  --background-features-title: rgba(47, 48, 58, 0.8);
  --background-button-portfolio: #f5f4fa;
  --background-pfl-card: #eeeeee;
  --icon-color: #afb1b8;

  --width-container: 1200px;
  --card-set-gap: 30px;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/*скрытый элемент*/
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*контейнер*/
.container {
  width: var(--width-container);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*---ШАПКА---*/
.page-header {
  position: sticky;

  width: 100%;
  top: -1px;
  left: 0;
  z-index: 100;

  background-color: var(--white-color);
  border: 1px solid var(--header-border-color);

  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.page-header-flex {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/*ЛОГО*/
.logo-header {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-header > span {
  color: var(--accent-color);
}

/*тень при фокусе*/
.logo-header:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color);
  border-radius: 4px;
}

/*лого в футере*/
.logo-header.logo-footer {
  width: fit-content;
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
}

/*тень при фокусе лого в футере*/
.logo-header.logo-footer:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--accent-color);
  border-radius: 4px;
}

/*---НАВИГАЦИЯ САЙТА---*/
.site-nav {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav a {
  color: var(--primary-text-color);

  transition: color 250ms var(--timing-fn);
}

/*изменение цвета элемента меню при наведении*/

.site-nav a:hover {
  color: var(--accent-color);
}

.site-nav a:focus {
  color: var(--accent-color);
  outline: none;
}

/*подсветка активной страницы*/
.site-nav .current {
  color: var(--accent-color);
}

/*нижнее подчеркивание активной страницы в хедере*/
.site-nav__link.current {
  position: relative;
}

.site-nav .current::after {
  position: absolute;
  display: block;

  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-color);
}

/*увеличение активной зоны для элементов меню*/
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*обратная связь*/
.contacts-nav {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  white-space: nowrap;
}

.contacts-nav__item {
  margin-left: 50px;
}

.contacts-nav a {
  color: var(--text-color);

  transition: color 250ms var(--timing-fn);
}

.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
  outline: none;
}

.contacts-nav__link {
  display: flex;
  align-items: center;
}

/*иконки*/
.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*---ГЕРОЙ---*/
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      var(--background-hero-gradient),
      var(--background-hero-gradient)
    ),
    url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-hero-color);

  color: var(--white-color);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*кнопка героя*/
.hero__button {
  display: inline-block;

  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  min-width: 136px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
}

/*тень при фокусе*/
.hero__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--white-color);
  border-radius: 4px;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*СЕКЦИИ*/
.features,
.job,
.team,
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  letter-spacing: 0.03em;
}

.features {
  padding-bottom: 0;
}

/*фон для секции команды*/
.team {
  background-color: var(--background-button-portfolio);
}

.features__title,
.team__title,
.job__title,
.team__title,
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*---ПЕРЕЧЕНЬ ОСОБЕННОСТЕЙ---*/
.features__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));

  text-align: left;
}

/*сетка*/
.features__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

/*иконки*/
.features__icon {
  padding: 20px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--background-button-portfolio);
}

/*заголовки*/
.features__list h3 {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*текст*/
.features__list p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/*---ЧЕМ ЗАНИМАЕМСЯ---*/

.job__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

/*сетка*/
.job__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  position: relative;
}

.job__subtitle {
  position: absolute;

  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  color: var(--white-color);
  background-color: var(--background-features-title);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}

/*---СПИСОК КОМАНДЫ---*/

.team__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));

  line-height: 1.19;
}

/*заголовки*/
.team__list h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

/*текст*/
.team__list p {
  margin-bottom: 16px;

  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

/*сетка*/
.team__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*список ссылок на социальные сети*/
.team-icon-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  color: var(--icon-color);
}

/*иконки*/
.team-icon {
  padding: 12px;
  width: 44px;
  height: 44px;

  fill: currentColor;
}

.team-icon-hover {
  display: block;

  padding: 0;
  margin: 0;

  color: var(--icon-color);

  line-height: 0;
  border-radius: 50%;

  transition: background-color 250ms var(--timing-fn),
    color 250ms var(--timing-fn);
}

.team-icon-hover:hover,
.team-icon-hover:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*тень при фокусе*/
.team-icon-hover:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--background-button-portfolio);
  border-radius: 50%;
}

/*обертка подписей и иконок соцсетей под фото*/
.team-content {
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--white-color);
}

/*---ПОСТОЯННЫЕ КЛИЕНТЫ---*/
.clients__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));

  line-height: 1.19;
}

/*сетка*/
.clients__item {
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms var(--timing-fn), border 250ms var(--timing-fn);
}

/*изменение цвета элемента меню при наведении*/
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/*тень при фокусе*/
.clients__link:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--accent-color);
  border-radius: 4px;
}

/*---МОДАЛЬНОЕ ОКНО---*/

/*фон*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 101;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms var(--timing-fn);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*модальное окно*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--white-color);
}

/*кнопка закрытия модального окна*/
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  padding: 0;
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;
  line-height: 0;

  transition: color 250ms var(--timing-fn);
}

.button-close-icon {
  fill: currentColor;
}

.button-close:hover,
.button-close:focus {
  color: var(--accent-color);
}

/*тень кнопки закрытия при фокусе*/
.button-close:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--accent-color);
}

/*--ФОРМА В МОДАЛЬНОМ ОКНЕ--*/
.form {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

/*заголовок*/
.form-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-field ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.form-wrapper {
  position: relative;
}

.form-wrapper input {
  width: 100%;
}

.form-input {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: color 250ms var(--timing-fn);
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  caret-color: var(--accent-color);
}

/*изменение цвета иконки при фокусе input*/
.form-input:focus ~ .form-icon {
  color: var(--accent-color);
}

/*иконки полей модального окна*/
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  width: 18px;
  height: 18px;

  color: var(--primary-text-color);
  fill: currentColor;

  transform: translateY(-50%);
  transition: color 250ms var(--timing-fn);
}

/*поле комментария*/
.comment {
  padding: 12px 16px;

  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  caret-color: var(--accent-color);
}

/*соглашение на рассылку*/
.policy-field {
  display: flex;
  justify-content: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.policy {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;

  padding: 0;
  margin-bottom: 30px;
}

.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.policy-icon use {
  display: none;
}

/*скрывается checkbox браузера*/
.policy-input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*при выборе checkbox появляется иконка*/
.policy-input:checked + .policy-icon use {
  display: inline-block;
}

/*при выборе checkbox исчезает бордер*/
.policy-input:checked + .policy-icon {
  border: none;
}

.policy-link {
  margin-left: 4px;
  text-decoration: underline;

  color: var(--accent-color);
}

/*не разрешает пользователю менять размер окна для сообщения*/
.textaria {
  resize: none;
}

/*кнопка формы*/
.form-button {
  display: block;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  min-width: 136px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  text-align: center;
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

/*---ФУТЕР---*/

.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 252px;

  background-color: var(--background-footer-color);
  color: var(--white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}

.footer p {
  display: inline-block;
  width: fit-content;
  margin-bottom: 9px;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer .contacts {
  padding: 0;
  color: var(--footer-text-color);

  transition: color 250ms var(--timing-fn);
}

/*тень при фокусе*/
.contacts:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--accent-color);
  border-radius: 4px;
}

/*--СОЦИАЛЬНЫЕ СЕТИ--*/

.footer-social {
  margin-left: 70px;
}

.footer-social-title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/*список ссылок на социальные сети*/
.footer-social-list {
  display: flex;
  justify-content: space-between;

  min-width: 206px;
  margin: 0;
  padding: 0;

  color: var(--white-color);
}

/*иконки социальных сетей*/
.footer-icon {
  padding: 12px;
  width: 44px;
  height: 44px;

  fill: currentColor;
}

.footer-social-link {
  display: block;
  padding: 0;
  margin: 0;

  background-color: var(--footer-icon-background);
  border-radius: 50%;
  color: var(--white-color);

  line-height: 0;

  transition: background-color 250ms var(--timing-fn),
    color 250ms var(--timing-fn);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 50%;
}

/*тень при фокусе*/
.footer-social-link:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--background-footer-color);
  border-radius: 50%;
}

/*изменение цвета элементов контактов при наведении*/
.hover a:hover,
.hover a:focus {
  color: var(--accent-color);
}

/*--ФОРМА:ПОДПИСЫВАЙТЕСЬ--*/
.footer-sign {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-form-title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  margin: 0;
  margin-right: 12px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  width: 358px;

  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*кнопка формы футера*/
.footer-form-button {
  display: block;
  cursor: pointer;

  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-width: 0;
}

.footer-form-icon {
  margin-left: 10px;
}

/*позиционирование контента кнопки*/
.footer-button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*позиционирование контента футера*/
.flex-footer {
  display: flex;
  align-items: baseline;

  padding-top: 60px;
  padding-bottom: 60px;
}

/*позиционирование контента адреса*/
.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*позиционирование адреса*/
.flex-address {
  display: flex;
  flex-direction: column;
}

/*---СТРАНИЦА ПОРТФОЛИО---*/

/*радио-кнопка на странице Портфолио*/
.button-pfl {
  display: inline-block;

  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;

  color: var(--primary-text-color);
  background-color: var(--background-button-portfolio);

  cursor: pointer;
  transition: background-color 250ms var(--timing-fn),
    color 250ms var(--timing-fn), box-shadow 250ms var(--timing-fn);
}

/*изменение цвета кнопки при наведении*/
.button-pfl:hover,
.button-pfl:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/*список радио-кнопок*/
.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-bottom: 16px;
}

/*расстояние между кнопками, кроме последней*/
.button-item:not(:last-child) {
  margin-right: 8px;
}

/*примеры работ - портфолио*/
.pfl__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

/*сетка*/
.pfl__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  border: 1px solid var(--background-pfl-card);
}

.product {
  color: var(--primary-text-color);
  display: block;

  transition: box-shadow 250px var(--timing-fn);
}

/*появление тени при наведении на карточку*/
.product:hover,
.product:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

/*появление при ховере описания карточки*/
.product .product__text-overlay {
  transition: opacity 250ms var(--timing-fn), transform 250ms var(--timing-fn);
}

.product:hover .product__text-overlay,
.product:focus .product__text-overlay {
  opacity: 1;
  transform: translateY(-100%);
}

/*заголовки в списке портфолио*/
.pfroduct__title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*обертка подписей под фото*/
.product__content {
  padding: 20px 24px;
}

/*текст в списке портфолио*/
.product__text {
  margin: 0;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

/*всплывающий текст при ховере*/
.product__text-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  opacity: 0;
  background-color: var(--accent-color-opacity);
  color: var(--white-color);

  transform: translateY(0);
}
