/*примеры работ - портфолио*/
.pfl__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: calc(-1 * #{$card-set-gap});
  margin-left: calc(-1 * #{$card-set-gap});
}

/*сетка*/
.pfl__item {
  flex-basis: calc(100% / 3 - #{$card-set-gap});
  margin-left: #{$card-set-gap};
  margin-top: #{$card-set-gap};
  border: 1px solid $background-pfl-card;
}
