/*список ссылок на социальные сети*/
.social-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  color: $icon-color;
}

.social-list__link {
  display: block;

  padding: 0;
  margin: 0;

  color: $icon-color;

  line-height: 0;
  border-radius: 50%;

  transition: background-color 250ms $timing-fn,
    color 250ms $timing-fn;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: $accent-color;
  color: $white-сolor;
}

/*тень при фокусе*/
.social-list__link:focus {
  outline: none;
  box-shadow: 0 0 0 1px $background-button-portfolio;
  border-radius: 50%;
}

/*иконки*/
.social-list__icon {
  padding: 12px;
  width: 44px;
  height: 44px;

  fill: currentColor;
}
